.animate-bounce-in[data-v-3403ab3f]{animation:bounceIn-3403ab3f .6s ease-out}@keyframes bounceIn-3403ab3f{0%{opacity:0;transform:scale(.3)}50%{transform:scale(1.05)}70%{transform:scale(.9)}to{opacity:1;transform:scale(1)}}
