.animate-bounce-in[data-v-020c17f6]{animation:bounceIn-020c17f6 .6s ease-out}@keyframes bounceIn-020c17f6{0%{opacity:0;transform:scale(.3)}50%{transform:scale(1.05)}70%{transform:scale(.9)}to{opacity:1;transform:scale(1)}}
